@media (max-width: 550px) {

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 32.9px;
    }

    .title {
        display: flex;
        width: 343px;
        height: 77.436px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        padding-top: 238px;
        margin: 0;
        padding-top: 238px;

        &__text {
            text-align: center;
            font-size: 32px;
            font-weight: 700;

        }

        .subtitle {
            margin: 0;
            padding: 0;

            &__text {
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                display: flex;
                text-align: center;
            }
        }

        .start {
            margin: 0;
            padding: 0;
        }

        special-text {
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-align: center;
        }
    }

    .header {
        height: 735px;
    }

    .game {
        row-gap: 32px;
        column-gap: 16px;

        &__cont {
            height: auto;
        }

        &-box {
            height: 1221px;
        }

        &__item {
            width: 343px;
        }


    }

    .seasons__textBig {
        width: 243px;
        height: 39px;
        font-size: 32px;
        line-height: 39px;
    }

    .seasons {
        flex-wrap: wrap;

        &__textBig {
            width: 243px;
            height: 39px;
            font-size: 32px;
            line-height: 39px;
        }

        &__text {
            width: 343px;
            height: 66px;
            font-size: 14px;
            line-height: 22px;
        }
    }


    .imageGame {
        width: 344px;
        height: 236px;
        top: 2288.6px;
        left: 16px;
    }
}