* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
}

.header {
    background-image: url(./img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
}

.title {
    display: flex;
    max-width: 788.778px;
    max-height: 125.007px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 217.1px;


    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}



.subtitle {
    max-width: 481px;
    padding-top: 32px;


    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }
}

.special-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.header-start {
    border-radius: 30px;
    border: none;
    background: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    margin-top: 44px;

}

.game-box {
    background: #000915;
    height: 556px;
}

.game {
    padding-top: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;


    &-box {
        height: 556px;
        background: #000915;
    }

    &__cont {
        position: relative;
        display: flex;
        height: 300px;

    }

    &__item {
        border-radius: 16px;


    }

    &__naming {
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        display: flex;
        width: 84px;
        height: 31.639px;
        flex-direction: column;
        justify-content: center;
    }

    &__naming {
        left: 32px;
        position: absolute;
        bottom: 32px;
    }

}

@import'_mobile'